.header
 .header__group
  .header__group-name
   sampleグループ
  .header__group-edit-btn
   = link_to 'edit','/groups/1/edit', class: "header__button"
 .header__group-members
  MEMBER:
  .header__group-members-name
   kazuki
