.user
 .user__name
  kazuki
 .user__font
  = link_to root_path,class: "user__font--link" do
   %i.fas.fa-edit
  = link_to root_path, class: "user__font--link" do
   %i.fas.fa-cog

.groups
 .groups__list
  = link_to root_path, class: "groups__link" do
   .groups__name
    aaaaaa
   .groups__text
    aaaaaa
