.sidebar
 .header
  %p.header__name
   kazuki
  .header__list
   %i.fas.fa-edit
   %i.fas.fa-cog
 .body
  %ul.lists
   = link_to root_path, class: "group-link" do
    %li.group-name<test
    %li.group-message<メッセージはありません
