.user {
   height: 60px;
   background-color: #253141;
   padding: 20px 20px 20px 20px;
   line-height: 40px;

  &__name {
    color: $white;
    font-size: 20px;
    font-weight: bold;
    float: left;
  }
  &__font {
    margin-left: 90px;
    float: right;
    &--link {
  	  color: white;
  	  text-decoration: none;
    }
  }
}

