.groups {
	background-color: #2f3e51;
  &__list {
 	  padding: 0 20px 0 20px;
    &__link {
      text-decoration: none;
      &:hover {
      background-color: #434a54;
      }
    }
  }
  &__name {
  	padding: 20px 0 5px 0;
   	font-size: 15px;
   	color: $white;
  }
  &__text {
   	font-size: 11px;
   	padding: 0 0 40px 0;
   	color: $white;
  }
}

